/*tags gerais*/
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}

h2 {
  color: #666;
}

h3 {
  font-weight: normal;
  font-style: italic;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}
/* principais seções da página */
.wrapper {
  min-height: 100vh;
  width: 100%;
}

.lateral {
  padding: 2%;
  color: white;
  height: 100%;
}

#principal {
  padding: 2em;
}

/*cores da barra lateral*/
.blog {
  background-color: red;
}

.profissional {
  background-color: darkblue;
}

.pessoal {
  background-color: goldenrod;
}

/* elementos do barra lateral */
.foto {
  display: none;
  text-align: center;
  margin-top: 10%;
}

.foto img {
  width: 80%;
}

.cabeca img {
  position: relative;
  margin-top: -8%;
  margin-bottom: 0;
}

/* menu */
.menu {
  position: relative;
  top: 0;
  font-size: 2.5em;
}

.menu ul {
  text-align: center;
}

.menu li {
  display: inline;
}

.menu a {
  color: white;
}

/* sobre */
#sobre {
  display: none;
  margin: 2em 0;
  text-align: justify;
}

/* contato */
#contato {
  display: none;
  margin: 2em 0 1em 0;
}

#contato ul {
  line-height: 1.2;
  padding: 0;
}

#contato li {
  list-style-type: none;
}

/* parte onde fica o conteúdo da página */
.corpo {
  padding-left: 2em;
  text-indent: 2em;
}

.legenda {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  text-indent: 0em;
  color: #666;
}

.post.trabalho {
  margin-top: -1em;
}

/*elementos da parte de baixo do post */

.infopost {
  padding-left: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data {
  grid-column: 1 / 3;
  grid-row: 1;
}

.leiamais {
  grid-column: 3 / 4;
  grid-row: 1;
  text-align: right;
  padding-right: 1em;
  padding-top: 1em;
}

.quebra {
  text-align: center;
  height: 3em;
}

.quebra img {
  height: 100%;
  width: auto;
  -webkit-filter: opacity(60%); /* Safari 6.0 - 9.0 */
  filter: opacity(60%);
}

/*estilo da página de portfolio */
.trabalho {
  margin-top: 1em;
}

.titulo a {
  text-decoration: none;
}

.thumb {
  position: relative;
}

.thumb img {
  width: 95%;
  margin-left: -1em;
}

/* seção de comentários */
.comentario {
  padding-left: 2em;
}

.comentario h4 {
  display: inline;
}

.comentario h5 {
  color: #666;
}

.deixarcomentario {
  margin-left: 2em;
  padding: 1em 1em;
  border: 4px dotted red;
}

input {
  padding: 0.8em;
  margin: 0;
}

input {
  border: 2px solid red;
  border-radius: 4px;
  width: 98%;
}

input[type=submit] {
  width: 10%;
  margin: 1em;
}

textarea {
  padding: 0.8em;
  border: 2px solid red;
  border-radius: 4px;
  width: 98%;
}

/* Galeria para portfolio */
.galeria {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  grid-gap: 1em;
  padding: 2em;
}

/*rodape da pagina*/
.rodape {
  padding: 2em 0 2em 2em;
  margin-top: 2em;
  border-top: 4px dotted black;
  border-bottom: 4px dotted black;
  font-size: 0.9em;
  line-height: 2em;
}

/* media queries */
@media only screen and (min-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .lateral {
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

  }

  #principal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .rodape {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 8em;
  }

  .cabeca img {
    position: relative;
    width: 20em;
    margin-top: -2em;;
  }

  .post {
    padding-right: 10em;
  }

  .trabalho .corpo {
    display: grid;
    grid-template-columns: 6fr 4fr;
  }

  .corpo .resumo {
    padding: 1em;
  }

  .foto {
    display: block;
  }

  .cabeca h1 {
    text-align: left;
    font-size: 3em;
  }
  #menusobre {
    display: none;
  }
  #sobre {
    display: block;
  }
  #contato {
    display: block;
    position: sticky;
    top: 1em;
  }
  .menu {
    font-size: 1em;
  }
  .menu ul {
    text-align: left;
    padding: 0;
  }
  .comentarios {
    margin-right: 10em;
  }
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2em;
    width: 90%;
  }
}
