<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Gustavo Carapiá</title>
    <link rel="stylesheet" href="{{ "/assets/estilo.css" | relative_url }}">
    <script src="{{ "/assets/script.js" | relative_url }}" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="topo">
        <header>
          <h1>Gustavo Carapiá</h1>
        </header>
        <nav>
          <ul>
            {% for link in site.data.nav %}
            <li>> <a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          <ul>
        </nav>
      </div>
      <main>
        {{content}}
      </main>
      <footer>
        <hr>
        <ul>
          <li><b>Email:</b> gustavogomespc@yahoo.com.br</li>
          <li><b>Twitter:</b> <a href="https://www.twitter.com/carapia">@carapia</a></li>
          <li><b>Instagram:</b><a href="https://www.instagram.com/gcarapia">@gcarapia</a></li>
        </ul>
        Esse website foi desenvolvido por <a href="https://carapia.github.io">Gustavo Carapiá</a>.
      </footer>
    </div>
  </body>
</html>
